/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&display=swap');
.logo{
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}
.carousel-item img{
    height: 500px;
}
.carousel-title{
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
}
.spot-img img{
    width: 180px !important;
    height: 100px !important;
}

@media only screen and (max-width: 576px) {
    .spot-img img{
        width: 100% !important;
        height: 200px !important;
    }
  }